MYSQL_ROOT_PASSWORD=saim1249
MYSQL_DATABASE=book_review_db
MYSQL_USER=bookreview_user
MYSQL_PASSWORD=saima1349
DB_HOST=mysql
DB_USER=bookreview_user
DB_PASS=saim1249
DB_NAME=book_review_db
DB_DIALECT=mysql
JWT_SECRET=saim124999999999
ALLOWED_ORIGINS=http://16.4.68.128:3000
NEXT_PUBLIC_API_URL=http://16.4.68.128:3001
